<h2>Chat Page Page:</h2>
<hr>

<form action="">
    <div id="mensaje"></div>
    <input type="text" name="nombre" id="nombre" placeholder="nombre">
    <input type="email" name="email" id="email" placeholder="correo electrónico">
    <br>
    <input type="submit" value="Registrar" id="btnSubmit">
</form>



<br><br>
<a href="/">Home Page</a>

<script src="js/Chat.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
<script src="socket.io/socket.io.js"></script>